
.requestName {
    width: 400px;
}
.requestSong {
    width: 400px;
}
.requestLyrics {
    width: 400px;
    height: 500px;
}
.musicData {
    display: inline-block;
}
.pill {
    float: left;
    background-color: rgb(200, 200, 200);
    padding: 5px 19px;
    margin: 5px 2px 5px 0px;
    color: black;
    list-style: none;
}
body {
    background-color: #373835;
    color: #999999;
}
.btn {
    background-color: #444444;
}
a {
    text-decoration: none;
    color: #373835;
}
a:hover {
    text-decoration: none;
    color: #373835;
}