.well {
    background-color: #DBDED3;
}
body {
    background-color: #F4F7EB;
    font-family: 'Fredericka the Great', cursive;
}
li {
    list-style-type: none;
    color: #373835;
    background-color: #DBDED3;
}
#header1 {
    color: #373835;
}
.catName {
    font-size: 20px;
    color: #373835;
}
h4 {
    color: #373835;
}