.well {
    background-color: #DBDED3;
    border-radius: 10px;
}
body {
    background-color: #F4F7EB;
}
li {
    list-style-type: none;
    color: #373835;
}
h4 {
    color: #373835;
}
.btn-wed {
    color: #373835;
    background-color: #B5B8AE;
    border-radius: 10px;

}

.btn-wed:hover,
.btn-wed:focus,
.btn-wed:active,
.btn-wed.active,
.open .dropdown-toggle.btn-wed {
    color: #373835;
    background-color: #767872;
    border-color: #F4F7EB;
    border-radius: 10px;

}
.songReqest {
    background-color: #B5B8AE;
    color: #373835;
    border-radius: 10px;
    margin: 5px 2px 5px 0px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #373835;
}
a:hover {
    text-decoration: none;
    color: #373835;
}
.requests {
    font-weight: bold;
}
.wrapIt{
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}
.subBtn {
    float: left;
}
