.well {
    background-color: #D2B0FF;
}
body {
    background-color: #9E84BF;
}
li {
    list-style-type: none;
    color: #352C40;
    background-color: #69587F;
}
#header1 {
    color: #352C40;
}
.catName {
    font-size: 20px;
    color: #352C40;
}
h4 {
    color: #352C40;
}